<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
</head>
<body>
<button>Connect to server 1</button>
<button>Connect to server 2</button>

<h4>Messages</h4>
<textarea></textarea>
<script>
    $(document).ready(function () {
        console.log('hahaha');
    });
</script>
</body>
</html>